.App {
  height: 100%;
  display: grid;
  text-align: center;
  grid-template:
    "header" min-content
    "content" max-content
    "footer";
}

header {
  background-color: #282c34;
  grid-area: header;
  font-size: calc(10px + 50%);
  color: white;
}

main {
  grid-area: content;
  background-color: red;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: blue;
}
